html {
    height: 100%;
}
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
.navbar {
    background: #394d54;
    border-radius: 0px;
    margin: 0;
    min-height: 40px;
    position: relative;
    z-index: 20;
}
.navbar-nav {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 410px;
}
.navbar-nav > li > a {
    color: #FFFFFF;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
}
.navbar-toggle .icon-bar {
    background: #FFFFFF;
}
.content {
    position: absolute;
    width: 100%;
    z-index: 4;
}
.content img.logo {
    display: block;
    height: auto;
    margin: 25px auto 10px;
    position: relative;
    width: 400px;
}
.content img.clock {
    height: auto;
    left: 50%;
    margin-left: -100px;
    position:  absolute;
    width: 200px;
}
.content-events {
    position: absolute;
    width: 100%;
    z-index: 4;
   top: 50px;
}
.city {
    background: #a5e9ee; /* Old browsers */
    background: -moz-linear-gradient(top,  #a5e9ee 0%, #ffffff 39%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5e9ee), color-stop(39%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a5e9ee 0%,#ffffff 39%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a5e9ee 0%,#ffffff 39%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a5e9ee 0%,#ffffff 39%); /* IE10+ */
    background: linear-gradient(to bottom,  #a5e9ee 0%,#ffffff 39%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5e9ee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    height: 70%;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}
.city img.city1 {
    bottom: 0;
    height: auto;
    left: 50%;
    margin: 0 0 0 -35%;
    position: absolute;
    text-align: center;
    width: 60%;
    
    filter: blur(0px);
    // Browser Specific
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
}
.city img.city2 {
    bottom: 0;
    height: auto;
    left: 50%;
    margin: 0 0 0 -35%;
    position: absolute;
    text-align: center;
    width: 60%;
    
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
    
    filter: blur(0px);
    // Browser Specific
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
}
.city img.city3 {
    bottom: 0;
    height: auto;
    left: 50%;
    margin: 0 0 0 -35%;
    position: absolute;
    text-align: center;
    width: 60%;
    
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
    
    filter: blur(0px);
    // Browser Specific
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
}
.city img.clouds {
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;
}
.ocean {
    background: #a0dadb; /* Old browsers */
    background: -moz-linear-gradient(top,  #a0dadb 0%, #00a8b5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0dadb), color-stop(100%,#00a8b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a0dadb 0%,#00a8b5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a0dadb 0%,#00a8b5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a0dadb 0%,#00a8b5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a0dadb 0%,#00a8b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0dadb', endColorstr='#00a8b5',GradientType=0 ); /* IE6-9 */
    bottom: 0;
    height: 30%;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.ocean img.city-shadow {
    height: auto;
    left: 50%;
    margin: 0 0 0 -35%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70%;
    filter: blur(0px);
    // Browser Specific
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
}
.wave {
    background: url("/assets/wave.svg");
    bottom: 0;
    height: 57px;
    position: absolute;
    width: 100%;
    z-index: 4;
}
img.moby {
    bottom: 12px;
    height: auto;
    position: absolute;
    right: 0px;
    width: 30%;
    z-index: 3;
}
@keyframes moby-animation {
    0% {
        -ms-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -ms-transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
}
@keyframes moby-animation-slide {
    0% {
        -ms-transform: translateX(100px) translateY(12px);
        -webkit-transform: translateX(100px) translateY(12px);
        transform: translateX(100px) translateY(12px);
    }
    100% {
        -ms-transform: translateX(0px) translateY(12px);
        -webkit-transform: translateX(0px) translateY(12px);
        transform: translateX(0px) translateY(12px);
    }
}
.countdown {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 190px;
}
.countdown span {
    text-shadow: 0px 0px 5px rgba(255,255,255,0.4);
}
/* The ribbons */
.corner-ribbon {
    background: #f96464 none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    left: -50px;
    letter-spacing: 1px;
    line-height: 50px;
    position: fixed;
    text-align: center;
    top: 25px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 200px;
    z-index: 15;
}
.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
/* The ribbons */
.mobile-banner {
    background: #f96464 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    left: 0px;
    letter-spacing: 1px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 15;
}

.ardan img {
    bottom: -25px;
    height: auto;
    left: 15px;
    position: relative;
    width: 40px;
    z-index: 9;
}
.ardan:hover {
    opacity: 0.5;
}

.mktoForm .mktoFieldWrap {
    margin-top: 15px;
}
.mktoForm .mktoLabel {
    background: #FFFFFF;
    color: #394d54;    
    border: 1px solid #ccc;
    border-radius: 4px 0 0 5px;
    margin: 0;
    padding: 6px 5px 6px 10px !important;
    width: 95px;
}
.mktoFieldWrap div {
    width: 0 !important;
}
.form {
    position: relative;
}
.form p {
    color: #394d54;
    font-size: 14px;
    margin: 20px auto 0;
    text-align: center;
    width: 40%;
}
.form h4 {
    color: #394d54;
    text-align: center;
    margin: 20px 0 0 0;
}
.form h4 span {
    background: #66a8aa;
    border-radius: 5px;
    color: #fff;
    margin: 0 5px 0 0;
    padding: 0 9px 3px 5px;
    text-align: center;
}
.form h4 span i {
    font-size: 13px;
    vertical-align: baseline;
}
.form form {
    margin: 0 auto;
    text-align: center
}
.form form label {
}
.form form input {
    border: 1px solid #CCCCCC;
    border-radius: 0px 4px 4px 0px;
    border-left: none;
    height: 30px;
    padding-left: 8px !important;
}
#thankYou p {
    color: #f96464 !important;
    font-size: 16px;
    font-weight: 500;
}
.mktoForm .mktoButtonWrap.mktoPaperMashup button.mktoButton {
    background: #f96464 none repeat scroll 0 0 !important;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.mktoForm .mktoError .mktoErrorMsg {
    width: 180px !important;
}
.mktoButtonRow {
    display: block;
    position: relative;
}
.mktoButtonRow span {
    margin: 0 !important;
}
.links {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    z-index: 20;
}
.links li {
    list-style: none;
}
.links .btn-red {
    background: #f96464 none repeat scroll 0 0;
    border-radius: 0 7px 7px 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 16px;
    margin: 0 0 15px;
    padding: 3px 8px;
    width: 135px;
}

.links-interior {
    top: 150px;
}


/*-- Smallest devices (phones, 320px to 480px) --*/
@media (min-width: 320px) and (max-width: 480px) {
    .navbar {
        position: absolute;
        width: 100%;
    }
    .navbar-nav {
        margin: 7.5px -15px;
        display: block;
        float: none;
        margin: 0 auto;
        text-align: left;
        width: auto;
    }
    .wave {
        height: 37px;
    }
    img.moby {
        width: 55%;
    }
    .corner-ribbon {
        display: none;
    }
    .content img.logo {
        margin: 25px auto -5px;
        width: 80%;
    }
    .countdown {
        transform: scale(0.65);
        -webkit-transform: scale(0.65);
    }
    .city img.clouds {
        top: 0;
    }
    .city {
        height: 70%;
        top: 0;
    }
    .mobile-banner {
        display: block !important;
        font-size: 12px;
        line-height: 20px;
        top: 0px;
    }
    .ardan img {
        bottom: -10px;
        left: 15px;
        width: 30px;
    }
    .form p {
        color: #394d54;
        font-size: 12px;
        margin: 0px auto 0;
        text-align: center;
        width: 95%;
    }
    .form h4 {
        color: #394d54;
        font-size: 13px;
        margin: 5px 0 8px;
        text-align: center;
    }
    .mktoForm .mktoLabel {        
        border: 1px solid #ccc;
        border-bottom: none;
        border-radius: 4px 4px 0 0;
        color: #394d54;
        margin: 0;
        padding: 6px 5px 6px 10px !important;
        width: 95px;
    }
    .mktoForm .mktoFormCol .mktoLabel {
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 0 !important;
        border-right: medium none;
        text-align: left;
        width: 40% !important;
    }
    .mktoForm .mktoFormRow .mktoField {
        height: 30px;
        box-shadow: none !important;
        border-radius: 0 !important;
        clear: right !important;
        float: left !important;
        width: 60% !important;
    }
    .mktoForm, .mktoForm * {
        box-sizing: border-box;
        padding: 0 10px;
    }
    .form form input {
        border-top: 1px solid #CCC;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        border-left: 1px solid #CCC;
        border-radius: 0px 0px 4px 4px;
    }
    .links {
        left: 0;
        margin: 0px 0 0 0;
        padding: 0;
        position: relative;
        top: 0;
        z-index: 20;
        width: 100%;
    }
    .links li a.btn-red {
        border-radius: 4px;
        float: left;
        font-size: 11px;
        margin: 1%;
        padding: 2px 0;
        width: 23%;
    }
    .links-interior {
        position: absolute !important;
        top: 10px !important;
    }
    .content-events {
        position: absolute;
        top: 120px;
        width: 100%;
        z-index: 4;
    }
    .mktoForm .mktoFieldWrap {
        margin-top: 0px;
    }
}
/*-- Small devices (tablets, 481px to 767px) --*/
@media (min-width: 481px) and (max-width: 767px) {
    .navbar {
        position: absolute;
        width: 100%;
    }
    .navbar-nav {
        margin: 7.5px -15px;
        display: block;
        float: none;
        margin: 0 auto;
        text-align: left;
        width: auto;
    }
    img.moby {
        width: 50%;
    }
    .corner-ribbon {
        display: none;
    }
    .mobile-banner {
        display: block !important;
        font-size: 12px;
        line-height: 20px;
        top: 0px;
    }
    .city {
        height: 70%;
        top: 0px;
    }
    .content img.logo {
        display: block;
        height: auto;
        margin: 30px auto 10px;
        position: relative;
        width: 450px;
    }
    .form p {
        margin: 0px auto;
    }
    .links {
        left: 0;
        margin: 20px auto 0;
        padding: 0;
        position: relative;
        text-align: center;
        top: 0;
        width: 430px;
        z-index: 20;
    }
    .links li {
        float: left;
    }
    .links li a.btn-red {
         border-radius: 4px;
        font-size: 15px;
        margin: 0 4px 15px;
        text-align: center;
        width: auto;
    }
    
    .links-interior {
        position: absolute !important;
        top: 10px !important;
        width: 100% !important;
    }
    .content-events {
        position: absolute;
        top: 120px;
        width: 100%;
        z-index: 4;
    }
    .form p {
        color: #394d54;
        font-size: 14px;
        margin: 20px auto 0;
        text-align: center;
        width: 80%;
    }
}

/*-- Medium devices (desktops, 768px to 991px) --*/
@media (min-width: 768px) and (max-width: 991px) {
    img.moby {
        width: 40%;
    }
}

/*-- Large devices (desktops, 992px to 1200px) --*/
@media (min-width: 992px) and (max-width: 1200px) {
    img.moby {
        width: 35%;
    }
}

/*-- Large devices (desktops, 992px to 1200px) --*/
@media (min-width: 1201px) {
    img.moby {
        width: 30%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .content img.logo {
        width: 50%;
    }
    img.moby {
        width: 30%;
    }
    .city {
        height: calc(85% - 70px);
        top: 72px;
    }
    .city img.city1 {
        max-height: 38%;
    }
    .city img.city2 {
        max-height: 30%;
    }
    .city img.city3 {
        max-height: 25%;
    }
    .ocean {
        height: 15%;
    }
    .wave {
        height: 35px;
    }

}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .content img.logo {
        width: 50%;
    }
    img.moby {
        width: 30%;
    }
    .city {
        height: calc(85% - 70px);
        top: 72px;
    }
    .city img.city1 {
        max-height: 38%;
    }
    .city img.city2 {
        max-height: 30%;
    }
    .city img.city3 {
        max-height: 25%;
    }
    .ocean {
        height: 15%;
    }
    .wave {
        height: 35px;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .content img.logo {
        width: 50%;
    }
    img.moby {
        width: 30%;
    }
    .city {
        height: calc(85% - 70px);
        top: 72px;
    }
    .city img.city1 {
        max-height: 38%;
    }
    .city img.city2 {
        max-height: 30%;
    }
    .city img.city3 {
        max-height: 25%;
    }
    .ocean {
        height: 15%;
    }
    .wave {
        height: 35px;
    }

}
/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .content img.logo {
        width: 50%;
    }
    img.moby {
        width: 30%;
    }
    .city {
        height: calc(85% - 70px);
        top: 72px;
    }
    .city img.city1 {
        max-height: 38%;
    }
    .city img.city2 {
        max-height: 30%;
    }
    .city img.city3 {
        max-height: 25%;
    }
    .ocean {
        height: 15%;
    }
    .wave {
        height: 35px;
    }

}