<div class="corner-ribbon">Coming Soon!</div>

<div class="mobile-banner" style="display: none;">Coming Soon!</div>

<div class="content">
    <img class="logo" src="assets/dockerCon.svg" />
    <section class="countdown">
        <script src="/countdown/countdown.js" type="text/javascript"></script>
        <script type="text/javascript">
            var myCountdownTest = new Countdown({
                year	: 2015,
                month	: 11,
                day		: 4,
                minute	: 0,
                second	: 0,
                rangeHi		: "month",
                rangeLo		: "hour",
                width	: 190,
                height	: 60,
                hideLine : false,
                style:"flip",
                labels : {
                    font 	: "Arial",
                    color	: "#6ca8a8",
                    weight	: "normal",
                    offset  : 5,
                    textScale : 1.2,
                    bkgd	: "#384d55"
                }
            });
        </script>
      </section>
    
    <div class="form">
        
        <ul class="links">
            <li><a class="btn btn-red slideInLeft animated" href="https://www.regonline.com/dockerconeu2015" target="_blank">Register</a></li>
            <li><a class="btn btn-red slideInLeft animated" href="https://docs.google.com/a/docker.com/forms/d/1NvMe1rH4GQlIOEMu9T8vT0_WYx92XyV-41fTm-B2WpQ/viewform" target="_blank">Submit a Talk</a></li>
            <li><a class="btn btn-red slideInLeft animated" href="mailto:dockercon@docker.com?Subject=Interest%20in%20sponsoring%20DockerCon%20Europe%202015" target="_top">Sponsorship</a></li>
            <li><a class="btn btn-red slideInLeft animated" href="mailto:dockercon@docker.com" target="_top">Contact Us</a></li>
            <div class="clearfix"></div>
        </ul>
        <h4><span><i class="glyphicon glyphicon-map-marker"></i> Barcelona</span> November 16-17, 2015</h4>
        <p>Join the DockerCon mailing list to receive first event updates such as content 
            announcements, ticket releases, upcoming deadlines and much more.</p>
        <script src="//app-sj05.marketo.com/js/forms2/js/forms2.min.js"></script>
            <form id="mktoForm_1019"></form>
            <script>MktoForms2.loadForm("//app-sj05.marketo.com", "929-FJL-178", 1019, function(form){
                form.onSuccess(function(values, followUpUrl){
                  form.getFormElem().hide();
            document.getElementById("thankYou").style.display = "block";
                  return false;
                });
              });
        </script>
        <div id="thankYou" style="display:none;">
            <p style="color:#000000; font-size:16px;">Thanks for signing up - we’ll reach out with DockerCon news soon!</p>
        </div>
    </div><!-- form -->
</div><!-- content -->

<div class="city">
    <img class="clouds slideInDown animated" src="assets/clouds.svg" />
    <img class="city3 slideInUp animated" src="assets/city3.svg" />
    <img class="city2 slideInUp animated" src="assets/city2.svg" />
    <img class="city1 slideInUp animated" src="assets/city1.svg" />
</div><!-- city -->
<div class="ocean">
    <img class="city-shadow fadeIn animated" src="assets/city-shadow.svg" />
</div><!-- ocean -->
<img class="moby slideInRight animated" src="assets/moby.svg" />
<div class="wave">
    <a class="ardan" href="https://www.ardanstudios.com/" target="_blank">
        <img class="fadeIn animated" src="assets/ardan.svg" />
    </a>
</div><!-- wave -->

