<!DOCTYPE html>
<html>
<head>
  <title>Dockercon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="DockerCon Europe 2015 is a two-day Docker-centric conference that is organized by Docker, Inc." />
  <meta name="keywords" content="docker dockercon europe 2015 conference developers devops systems administration" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="dockercon.com" />
  <meta name="copyright" content="DockerCon Europe 2015 All Rights Reserved" />
  <meta name="distribution" content="Global" />
  <meta name="revisit-after" content="7 days" />
  <meta name="allow-search" content="yes" />
  <meta name="rating" content="General" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/animate.css">
</head>
<body>

<%= yield %>

</body>
</html>
